<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Control Panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>{% if request.resolver_match.url_name != 'login' %}
<div class="header">
    <ul>
        <li><a href="{% url 'mehmberportal:dashboard' %}">Dashboard Home</a></li>
        <li><a href="{% url 'mehmberportal:payment_history' %}">Payment History</a></li>
    </ul>
</div>
{% endif %}
<div class="main_container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>